body{
   /* background-image: url("../media/remi_enfer.png");
    background-repeat:round;
    background-size: cover;*/
}

#iconNav{
    width: 4vw;
}

.TituloLog{
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
}

.card{
     width: 15vw; 
     margin-left: 4vw;
}

.card > img{
    padding: 10%;
    margin-top: 2%;
}

#navbarMio{
    background-color: #6eb2ed !important;
    
}
#navbarMio>div>a, #navbarMio>div>button>span {
    color: white !important;
    font-style: oblique;
    font-weight: bold;
}